*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

ul{
  list-style-type: none;
}
/*
.contact__part {
  display: inline-block;

}


.contact__right{
  position: absolute;
  right: 20px;
}

.contact_item{
  display: inline-block;
  padding: 20px 10px;

}

*/

.row:before,.row:after,
.container:before, .container:after{
  content: '';
  display: table;
}
.row:after,
.container:after{
  clear: both;
}

.top{
  background-color: #262626;
  max-height: 50px;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top__contacts{
  float: left;
}

.top__register,.top__social{
  float: right;
}

.top__item{
  float: left;


}

.top__contacts__item{
  padding-left: 5px;
  padding-right: 5px;
}


.mail-icon,.phone-icon,
.shutdown-icon,.lock-icon{
  max-width: 18px;
  position: relative;
  bottom: 2px;
}




.mail-address, .tel-no, .not-a-member{
  color: #cccccc;
}

.mail-address{
  text-transform: lowercase;
}

.login{
  padding-right: 10px;
  padding-left: 5px;
  border-right: 2px solid red;
}

.not-a-member{
  padding-left: 10px;
}

.register{
  padding: 0 2px;
}

.facebook-icon, .twitter-logo,.googleplus-logo{
  max-height: 35px;
  position: relative;
  bottom:10px;
  margin: 0 10px;
}

.top__contacts a:hover{
  color: #ffffff;
}

.top__register a:hover{
  color:#cccccc ;
}

/*End TOP */

.navigation{
  background-color: #404040;
}

.navigation .container{
  height: 84px;
  position: relative;
}

.logo-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo{
  max-height: 50px;
  vertical-align: middle;
}

.menu{
  float: right;
  margin: 0;
  padding: 30px 0;
}

.menu li{
  display: inline-block;
  margin: 0 20px;
}

.menu__item a{
  font-family: 'Oswald', sans-serif;
}

.menu__item a:hover{
  color: #cccccc;
  border-bottom: 5px solid red;
}

.cart-item-number{
  font-size: 11px ;
  background-color: red;
  color: #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  bottom: 22px;
}

/*END NAVIGATION

 */


.banner{
  position: relative;
  background: url("../image/banner-image.jpg") no-repeat center center;
  padding: 15% 0;
  background-size: cover;
}

.banner__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
  filter: alpha(opacity=70);  /* IE 5-7 */
  -moz-opacity: 0.7;          /* Netscape */
  -khtml-opacity: 0.7;        /* Safari 1.x */
  opacity: 0.7;
}





