*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

ul{
  list-style-type: none;
}
/*
.contact__part {
  display: inline-block;

}


.contact__right{
  position: absolute;
  right: 20px;
}

.contact_item{
  display: inline-block;
  padding: 20px 10px;

}

*/

.row:before,.row:after,
.container:before, .container:after{
  content: '';
  display: table;
}
.row:after,
.container:after{
  clear: both;
}

.top{
  background-color: #262626;
  max-height: 50px;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top__contacts{
  float: left;
}

.top__register,.top__social{
  float: right;
}

.top__item{
  float: left;


}

.top__contacts__item{
  padding-left: 5px;
  padding-right: 5px;
}


.mail-icon,.phone-icon,
.shutdown-icon,.lock-icon{
  max-width: 18px;
  position: relative;
  bottom: 2px;
}




.mail-address, .tel-no, .not-a-member{
  color: #cccccc;
}

.mail-address{
  text-transform: lowercase;
}

.login{
  padding-right: 10px;
  padding-left: 5px;
  border-right: 2px solid red;
}

.not-a-member{
  padding-left: 10px;
}

.register{
  padding: 0 2px;
}

.facebook-icon, .twitter-logo,.googleplus-logo{
  max-height: 35px;
  position: relative;
  bottom:10px;
  margin: 0 10px;
}

.top__contacts a:hover{
  color: #ffffff;
}

.top__register a:hover{
  color:#cccccc ;
}

/*End TOP */

.navigation{
  background-color: #404040;
}

.navigation .container{
  height: 84px;
  position: relative;
}

.logo-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo{
  max-height: 50px;
  vertical-align: middle;
}

.menu{
  float: right;
  margin: 0;
  padding: 30px 0;
}

.menu li{
  display: inline-block;
  margin: 0 20px;
}

.menu__item a{
  font-family: 'Oswald', sans-serif;
}

.menu__item a:hover{
  color: #cccccc;
  border-bottom: 5px solid red;
}

.cart-item-number{
  font-size: 11px ;
  background-color: red;
  color: #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  bottom: 22px;
}

/*END NAVIGATION

 */


.banner{
  position: relative;
  background: url("../image/banner-image.jpg") no-repeat center center;
  padding: 10% 0;
  background-size: cover;
}

.banner__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
  filter: alpha(opacity=70);  /* IE 5-7 */
  -moz-opacity: 0.7;          /* Netscape */
  -khtml-opacity: 0.7;        /* Safari 1.x */
  opacity: 0.7;
}

.banner__title{
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.banner__title span{
  font-family: 'Oswald', sans-serif;
}

.banner__title__span{
  display: block;
}

.banner__title__red{
  color: red;
}

.banner__order{
  border: #ffffff 1px solid;
  padding: 13px 20px;
}

.banner__order:hover{
  opacity: 0.5;
  color: #ffffff;
}

/* END BANNER*/

.foods{
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 80px;
}

.foot-item{
  text-align: center;
}

.food-item__component{
  margin: 15px 0;
}

.food__img{
  padding: 60px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.sushi__img{
  background: url('../image/sushi-image.png') no-repeat center center;
  background-size: cover;
}

.soup__img{
  background: url('../image/soup-image.jpg') no-repeat center center;
  background-size: cover;
}

.sweets__img{
  background: url('../image/cake-image.jpg') no-repeat center center;
  background-size: cover;
}

.food__title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
}

.food-item__link{
  padding: 10px 25px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.food-item__link:hover{
  background-color: #f2f2f2;
  color: red;
  border: 1px solid red;
}


/*END FOODS SECTION */

.specials{
  padding: 50px 0 70px 0;
}

.specials__header{
  padding-bottom: 50px;
}

.section-header__title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;

}

.specials__title{
  font-size: 40px;
}

.specials__title span{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.specials__item{
  text-align: center;
  margin-bottom: 25px;
}

.specials__link{
  position: relative;
  display: block;
  background: url("../image/salmon-roll.jpg") no-repeat center center;
  background-size: cover;
  max-width: 120px;
  max-height: 120px;
  padding: 60px ;
  border-radius: 50%;
  margin: 0 auto;
}

.specials__link div{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  border-radius: 50%;
  background-color: red;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
  filter: alpha(opacity=0);  /* IE 5-7 */
  -moz-opacity: 0;          /* Netscape */
  -khtml-opacity: 0;        /* Safari 1.x */
  opacity: 0;
  transition-duration: 0.2s;
  text-align: center;
}

.specials__link:hover div{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";       /* IE 8 */
  filter: alpha(opacity=0.7);  /* IE 5-7 */
  -moz-opacity: 0.7;          /* Netscape */
  -khtml-opacity: 0.7;        /* Safari 1.x */
  opacity: 0.7;
}

.specials__price, .specials__add-button{
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 0;
}

.specials__price{
  background-color: #262626;
}

.specials__add-button{
  background-color: red;
  text-transform: uppercase;

}

.specials__add-button:hover{
  color: #000000;
}

