
body{
  font-family: 'Roboto', sans-serif;
}
.container:after{
  content: '';
  display: block;
  clear: both;
}
.top{
  background-color: #262626;
}

.top-contacts{
  float: left;
  padding: 9px 0;
}

.top a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.top .top-contacts__link{
  font-size: 13px;
  text-transform: none;
}
.top-register{
  float: left;
  padding: 9px 0;
}
.top-social{
  font-size: 12px;
  float: right;
  padding: 5px 0 0 10px;
}
.top-social__link{
  color: red!important;
}
.top-social__link.facebook:hover{

}
.top-social__link.twitter:hover{

}
.top-social__link.google:hover{

}
.top-register__link{
  font-size: 13px;
}

/*End TOP */

.navigation{
  background-color: #404040;
}


.logo-helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo{
  max-height: 50px;
  vertical-align: middle;
}

.navbar-collapse{
  text-align: center;
}
.menu__item > .nav-link{
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: 'Oswald', sans-serif;
  border-bottom: 5px solid transparent;
  text-transform: uppercase;
}
.menu__item{
  position: relative;
}

.menu__item > a.nav-link:hover{
  color: #cccccc;
  border-bottom: 5px solid red;
}

.cart-item-number{
  font-size: 11px ;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 0;right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  bottom: 22px;
}

/*END NAVIGATION

 */


.banner{
  position: relative;
  background: url("../image/banner-image.jpg") no-repeat center center;
  padding: 10% 0;
  background-size: cover;
}

.banner__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
}
.banner-content{
  position: relative;
  z-index: 9;
  text-align: right;
}
.banner__title{
  font-size: 2.5em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}

.banner__title span{
  color: red;
}

.banner__title__span{
  display: block;
}

.banner__title__red{
  color: red;
}
.banner__btn{
  border: #fff 1px solid;
  color: #fff;
  font-size: 0.75rem;
}

.banner__btn:hover{
  opacity: 0.5;
  color: #ffffff;
}

/* END BANNER*/

.foods{
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 80px;
}

.foot-item{
  text-align: center;
}

.foot-item__link{
  text-transform: uppercase;
}

.food-item__component{
  margin: 15px 0;
}
.food__img{
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
}

.food__img img{
  border-radius: 50%;
  max-width: 150px;max-height: 150px;
  border: 5px solid #b30000;
}


.food__title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
}

.food-item__link{
  padding: 10px 25px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.food-item__link:hover{
  background-color: #f2f2f2;
  color: red;
  border: 1px solid red;
}



/*END FOODS SECTION */

.section-heading{
  border-bottom: 1px solid #ccc;
  position: relative;
}
.section-heading:after{
  content: '';
  position: absolute;
  bottom: 0;left: 0;
  width: 150px;
  border:2px solid #b30000;

}
.section-heading__title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.section-heading__title span{
  font-weight: normal;
}
.specials{
  padding: 50px 0 70px 0;
}
.specials__heading{
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.specials__item{
  text-align: center;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  margin-top: 80px;
  padding-top: 80px;
  position: relative;
}

.specials__link{
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);

  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.special__link:after{

  transition: 0.3s;
}
.specials__link:hover:after{
  content: '';
  position: absolute;
  top: 10px;left: 10px;right:10px;bottom: 10px;
  background: rgba(179, 45, 0, 0.5);
  border-radius: 50%;

}
.specials__link img{
  max-width: 150px;max-height: 150px;
  border-radius: 50%;
  border: 5px solid #b30000;
}
.special__flag{
  position: absolute;
  top: -7px;left: 0;
  width: 15px;height: 15px;
}
.specials__item__title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #262626;
  margin-top: 10px;
}

.specials__price, .specials__add-button{
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 0;
}

.specials__price{
  background-color: #262626;
}

.specials__add-button{
  background-color: red;
  text-transform: uppercase ;
  transition: 0.2s;

}

.specials__add-button:hover{
  color: #fff;
  text-decoration: none;
  background-color: #b30000;
}

.section-footer{
  text-align: center;
  text-transform: uppercase;
}

.section-footer__lead{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #bfbfbf;

}

.section-footer__title{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color:#595959;
}

.section-footer__desc > span{
  color: red;
}

.section-footer__button > a{
  font-size: 12px;
  color: white;
  background-color: red;
  padding: 8px 18px;
  font-weight: bold;
}

.section-footer__button > a:hover{
  text-decoration: none;
  background-color: #b30000;
}



/* END SPECIALS SECTION*/

.ourteam{
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
  background: url("../image/destination_tokyo.jpg") no-repeat center center;
  background-size: cover;
}

.ourteam__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.9);
}

.ourteam-body{
   margin-top: 60px;
}

.ourteam-item{
  text-align: center;
}

.ourteam-heading__title, .ourteam-item{
  color: #fff;
}

.ourteam-item__name{
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.ourteam-item__position{
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.ourteam-item__desc{
  color: #808080;
  margin-top: 10px;
  margin-bottom: 25px;
}

.ourteam-item-imgwrap{
   border: 1px solid #4d4d4d;
   display: inline-block;
   border-radius: 50%;
   padding: 13px;
   background-color: transparent;
   margin-top: 10px;
   margin-bottom: 15px;
}

.ourteam-item__img{
   border-radius: 50%;
   width: 200px; height: 200px;
   border: 5px solid #b30000;

}

.ourteam-social__item{
   color: red;
   margin: 0 10px;
   transition: 0.2s;
}

.ourteam-social__item:hover{
   color: #b30000;
}

/* END OURTEAM */

.ourhistory{
   margin-top: 50px;
   margin-bottom: 50px;
}

.ourhistory-body{
   margin-top: 30px;
}

.ourhistory-item .col-md-6{
   margin-top: 15px;
   margin-bottom: 15px;
}

.ourhistory-item__img{
   max-width: 100%;
}

.ourhistory-item__link{
   text-transform: uppercase ;
   text-decoration: none;
   color:#404040;
   font-family: 'Oswald', sans-serif;
   transition: 0.2s;
}

.ourhistory-item__link span{
   font-weight: bold;
   color: red;
   transition: 0.2s;
}

.ourhistory-item__link:hover{
   text-decoration: none;
   color: black;
}

.ourhistory-item__link:hover span{
   color: #b30000;
}

.phone-order{
   background: url("../image/order-bg.jpg") no-repeat center center;
   background-size: cover;
   position: relative;
   max-height: 456px;
}

.phone-order__order-now__image{
   position: relative;
   bottom: 13px;
}

.phone-order__content{
   margin-top: 30px;

}

.phone-order__title{
   font-family: 'Oswald', sans-serif;
   font-size: 1.75rem;
   text-transform: uppercase;
   color: #fff;
}

.phone-order__title span{
   color: red;
}

.phone-order__desc{
   color: #808080;
   margin-top: 20px;
}

.phone-order__address,.phone-order__number{
   text-align: right;
}

.phone-order__address span{
   padding: 3px 10px;
   background: red;
   color:#fff;
}

.phone-order__number a{
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   font-size: 2rem;
   color: #fff;
   text-decoration: none;
   transition: 0.2s;
}

.phone-order__number a:hover{
   color: #ccc;
}

/*END PHONE ORDER */
.offers{
   margin-top: 50px;
}

@media only screen and (min-width: 768px) {
   .banner__title {
      font-size: 3.5em;
   }

   .banner__btn{
      font-size: 1rem;
   }

   .phone-order__number a{
      font-size: 2.5rem;
   }

}

@media only screen and (min-width: 992px){
   .phone-order__content{
      position: relative;
      top:150px;

   }
}
